# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Verilog
*.bit
*.wdb
*.jou
*.log
*.rtd
*.rpt
*.str
*.zip
Verilog_SSD1306_CFG_IP.cache
Verilog_SSD1306_CFG_IP.hw
Verilog_SSD1306_CFG_IP.ip_user_files
Verilog_SSD1306_CFG_IP.runs
Verilog_SSD1306_CFG_IP.sim
